.a{
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding:50px;
    font-size: 20px;
}

.b{
    background-color: gray;
    color: black;
    padding:20px;
    font-size: 20px;
}