*{
    color:blueviolet;
}
#a{
    font-size: 40px;
    color:blue;
}
h1{
    color:darkorange;
    border:15px solid brown;
    margin:10px;
    padding:10px;
    font-style: italic;
}
.b{
    color:brown;
    font-size: 20px;
    
}
h2::after{
content: "hello";
}
    h1::first-letter{
        color:cadetblue;
        font-size: 50px;
    }
li:nth-child(1){
    color:burlywood;
    font-size: 20px;
}