#var{
    color: black;
}

.cnt{
    background-color: yellow;
    padding:40px;
    border:color=red, 50px;
    
}
button{
    border:none;
    font-size: 25px;
    color:white;
    border:15px,20px;
}

    button:nth-child(1){
         background-color: green;
    }
button:nth-child(2){
    background-color: red;
}
button:nth-child(3){
    background-color: gray;
}
button:hover{
    color: blueviolet;
}

@media (max-width:576px){
    h1{
        color:gold;
        font-size: 100px;
        background-color: black;
    }
    
    button:nth-child(1){
         background-color: black;
    }
}

@media (min-width:576px) and (max-width:768px){
 h1{
        color:pink;
        font-size: 50px;
        background-color: blueviolet;
    }
    
    button:nth-child(1){
         background-color: gold;
    }
}

/* 576px,768px,992px,1200px,*/
/*576px:below::-moz-list-bullet
576-768: table
768-992:small screens
992px-1200: normal screens*/

@media (min-width:768px) and (max-width:992px){
    h1{
        color:darkmagenta;
        font-size: 60px;
        background-color: blueviolet;
    }
    
    button:nth-child(1){
         background-color: gold;
    }
}

@media (min-width:992px) and (max-width:1200px){
    h1{
        color:deeppink;
        font-size: 60px;
        background-color:dodgerblue;
    }
    
    button:nth-child(1){
         background-color:cyan;
    }
}

@media(min-width:1200px)
{
    h1{
        color: blue;
        font-size: 70px;
        background-color:bisque;
    }
    button{
        padding:50px;
    }
}




<script>
        const userlist=document.getElementById("fetchlist");
        console.log(userlist);

        const fetchData= async()=>
    {
        
            const resp=await fetch(
                "https://jsonplaceholder.typicode.com/users"
            );
            console.log(resp.ok);
            if(resp.ok===true){
                const data = await resp.json();
                data.forEach((el) => {
                    let li=document.createElement("li");
                    li.textContent=el.name;
                    userlist.appendChild(li);
                });
            
        } //catch (error) {
            //console.error("Error fetching data:", error);
       // }
    };
  